@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril Fatface:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby Fatface:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter Fatface:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
}


/* Background Image */
.body-page
{
    display: flex;
    background-image: url(photos/Home.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1274px;
    border-radius: 0px;
    background-position: fixed;
}

/* Header */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 40px 100px;
}
header.sticky
{
    padding: 6px 100px;
    background: #080808;
}
header .logo
{
    position: absolute;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    transition:0.4s;
    left: 40px;
}
.menu-bar{
    position: relative;
    margin: 270px auto -250px;
    width: 580px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
    font-size: 0;
    top: -275px;
    left: 250px;
}
.menu-bar ul li{
    width: 100px;
    margin: 15px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align:center;
    transition: 0.4s;
}
.menu-bar .icon1 i{
    position: absolute;
    top: 17px;
    left: 85px;
}

.active, .menu-bar ul li:hover{
    background: #353839;
    border-radius: 10px;
}
a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 110px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 110px;
}
a:nth-child(5){
    width: 120px;
}
header.sticky img
{
    width: 60px;
}
header.sticky .menu-bar a
{
    color: #fff;
    font-size: 15px;
    top: -5px;
}
header.sticky .menu-bar
{
    width: 540px;
    height: 50px;
    left: 200px;
}
header.sticky .menu-bar .animation
{
    top: -5px;
}
header.sticky .menu-bar ul li:hover .sub-menu-1{
    left: 385px;
    top: 65px;
}
.checkbtn{
    position: absolute;
    right: 300px;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
header.sticky .checkbtn{
    right: -10px;
    top: -5px;
    transition: 0.4s;
}
#check{
    display: none;
}
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 400px;
    height: 50vh;
    background: #2c3e50;
    top: 110px;
    left: 100%;
    text-align: center;
    transition: all .5s;
}
.menu-bar ul li{
    display: block;
}
.menu-bar ul li a{
    font-size: 20px;
}
a:hover, a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ ul{
    left: 0;
}
.menu-bar ul{
    display: inline-block;
}
.menu-bar ul li a{
    left: 115px;
}
.active, .menu-bar ul li:hover{
    background: #2c3e50;
}

.img-frame{
    position: absolute;
    left: 110px;
    width: 150px;
    height: 210px;
    top: 135px;
}
.img-me{
    position: absolute;
    top: 25px;
    left: 75px;
    width: 233px;
    height: auto;
}